<div [hidden]="viewBanner" style="text-align:center;">
    <ul class="actions">
        <li><a class="button big" [routerLink]="['sign']">Inscrivez-vous !</a></li>
        <li><button style="font-size: 0.8em;" (click)="visibilityConnexion()">{{boutonConnexion}}</button></li>
        <li><button style="font-size: 0.8em;" (click)="visibilityBanner()">{{boutonBanner}}</button></li>
    </ul>
</div>
<div [hidden]="!viewBanner">
    <header id="header" class="alt">
        <div>
            <ul class="actions">
                <li><a style="background-color: white;" class="button big" [routerLink]="['sign']">Inscrivez-vous !</a></li>
                <li><button style="background-color: white; height: 3.75em; font-size: 0.8em;" (click)="visibilityConnexion()">{{boutonConnexion}}</button></li>
                <li><button style="background-color: white; height: 3.75em; font-size: 0.8em;" (click)="visibilityBanner()">{{boutonBanner}}</button></li>
            </ul>
        </div>
        <div class="inner">
            <span></span>
            <h1>Prestafind <img src="../../../assets/images/logoPresta.png" height="100" width="100"></h1>
            <p>Notre plateforme vous permet de chercher des prestataires de service<br>recommandés par d'autres clients aux alentours de chez vous</p>
        </div>
    </header>
</div>
<div id="wrapper">

    <!-- Banner -->
    <section id="intro" class="main">
        <!-- <span class="icon fa-diamond major"></span>-->
        <app-liste-prestataire></app-liste-prestataire>
    </section>

    <section id="main" class="main">
        <header>
            <h2>Merci de votre visite</h2>
            <p>Ce site propose des évaluations et des prestataires proposés par des clients pour d'autres clients. Les données renseignées le sont par les clients et s'appuient sur la bonne foi des contributeurs.</p>
            <span><img src="../../../assets/images/logoPresta.png" height="100" width="100"></span>
        </header>
    </section>

</div>

<footer>

    <app-toolbar></app-toolbar>
</footer>
