<header id="header" class="alt">
    <div class="inner">
        <h1>Prestafind</h1>
        <p>Un projet qui envoie du lourd...</p>
    </div>
</header>

<div id="wrapper">


				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Presta Find</h2>
						<p>Notre plateforme vous permet de chercher des prestataires de service aux alentours de chez vous.<br>
            Une envie de cuisine, des besoins de peinture ou de plomberie ?<br>
            Vous trouverez les prestataires qu'il vous faut, près de chez vous !</p>
						<ul class="actions">
							<li><a class="button big" [routerLink]="['sign']">Inscrivez-vous !</a></li>
						</ul>
					</section>

          <!-- Catégories -->
          <section id="cta" class="main special">
						<h2>Liste de nos catégories de services</h2>
            <app-liste-categorie></app-liste-categorie>
						<!--<p>Phasellus ac augue ac magna auctor tempus proin<br />
						accumsan lacus a nibh commodo in pellentesque dui<br />
						in hac habitasse platea dictumst.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>-->
    </section>
    <!-- Villes -->
    <section id="cta" class="main special">
        <h2>Liste de nos villes </h2>
        <app-liste-coordonnee all="false"></app-liste-coordonnee>
        <!--<p>Phasellus ac augue ac magna auctor tempus proin<br />
						accumsan lacus a nibh commodo in pellentesque dui<br />
						in hac habitasse platea dictumst.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
						</ul>-->
            <app-maps></app-maps>
    </section>

    <!-- Items -->
    <section class="main items">
        <article class="item">
            <header>
                <a href="#"><img src="../../../assets/images/pic01.jpg" alt="" /></a>
                <h3>Raison Sociale</h3>
            </header>
            <p>Description</p>
            <ul class="actions">
                <li><a href="#" class="button">Profil détaillé</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="#"><img src="../../../assets/images/pic02.jpg" alt="" /></a>
                <h3>Raison Sociale</h3>
            </header>
            <p>Description</p>
            <ul class="actions">
                <li><a href="#" class="button">Profil détaillé</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="#"><img src="../../../assets/images/pic03.jpg" alt="" /></a>
                <h3>Raison Sociale</h3>
            </header>
            <p>Description</p>
            <ul class="actions">
                <li><a href="#" class="button">Profil détaillé</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="#"><img src="../../../assets/images/pic04.jpg" alt="" /></a>
                <h3>Raison Sociale</h3>
            </header>
            <p>Description</p>
            <ul class="actions">
                <li><a href="#" class="button">Profil détaillé</a></li>
            </ul>
        </article>
    </section>




    <!-- Main -->

    <section id="main" class="main">
        <header>
            <h2>Lorem ipsum dolor</h2>
        </header>
        <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida
            tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis
            pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </section>


    <!-- Footer -->
    <app-toolbar></app-toolbar>

</div>



<!--<body>
    <header>
        <div class="jumbotron text-center">
            <h1>Accueil Prest-Home</h1>
            <p>Un projet qui envoie du lourd...</p>
        </div><br/>
    </header>
    <app-recherche-prestataire></app-recherche-prestataire>
    <app-liste-prestataire allPrest="true"></app-liste-prestataire>
    <div id="signInLogin">
        <a role='button' [routerLink]="['sign']">Inscription / Connexion</a>
    </div><br/><br/>

    <!--     <form [formGroup]="searchForm">
        <div class="d-flex ">
            <mat-form-field>
                <input matInput type="text" placeholder="Ville" class="form-control" id="ville" formControlName="ville" required>
                <div id="error" class="errorPlaceHolder" *ngIf="ville.errors && ville.touched">
                    <p *ngIf="ville.errors.required">
                        La ville est requise
                    </p>
                </div>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Code Postal" class="form-control" id="cp" formControlName="cp" required>
                <div id="error" class="errorPlaceHolder" *ngIf="cp.errors && cp.touched">
                    <p *ngIf="cp.errors.required">
                        Le code postal est requis
                    </p>
                    <p *ngIf="cp.errors.minlength">
                        Le code postal doit contenir 5 chiffres
                    </p>
                    <p *ngIf="cp.errors.maxlength">
                        Le code postal doit contenir 5 chiffres
                    </p>
                    <p *ngIf="cp.errors.pattern">
                        Le code postal ne doit comporter que des chiffres
                    </p>
                </div>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Catégories :" id="categorie">
                    <mat-option value="catlist">CatListHere</mat-option>

                </mat-select>
            </mat-form-field>
            <button>Rechercher</button>
            <br/><br/>
        </div>
    </form>
    <form [formGroup]="searchForm">
        <div class="d-flex ">
            <mat-form-field>
                <input matInput type="text" placeholder="Ville" class="form-control" id="ville" formControlName="ville" required>
                <div id="error" class="errorPlaceHolder" *ngIf="ville.errors && ville.touched">
                    <p *ngIf="ville.errors.required">
                        La ville est requise
                    </p>
                    <p *ngIf="ville.errors.pattern">
                        Cette ville n'est pas valide
                    </p>
                </div>
            </mat-form-field>

</body>
<footer>
    <app-toolbar></app-toolbar>
</footer>

            <mat-form-field>
                <input matInput type="text" placeholder="Code Postal" class="form-control" id="cp" formControlName="cp" required>
                <div id="error" class="errorPlaceHolder" *ngIf="cp.errors && cp.touched">
                    <p *ngIf="cp.errors.required">
                        L'email est requis
                    </p>
                    <p *ngIf="cp.errors.minlength">
                        Cet email n'est pas valide
                    </p>
                    <p *ngIf="cp.errors.maxlength">
                        Cet email n'est pas valide
                    </p>
                </div>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Catégories :" id="categorie">
                    <mat-option value="animalSitting">Animal-Sitting</mat-option>
                    <mat-option value="animation">Animation</mat-option>
                    <mat-option value="babySitting">Baby-Sitting</mat-option>
                    <mat-option value="carreleur">Carreleur</mat-option>
                    <mat-option value="cours particulier">Cours particulier</mat-option>
                    <mat-option value="cuisine">Cuisine</mat-option>
                    <mat-option value="decorationDesignInt">Décoration - Design d'intérieur</mat-option>
                    <mat-option value="electricite">Electricité</mat-option>
                    <mat-option value="gardiennage">Gardiennage</mat-option>
                    <mat-option value="informatique">Informatique</mat-option>
                    <mat-option value="jardinerie">Jardinerie</mat-option>
                    <mat-option value="mecaniqueAuto">Mécanique auto</mat-option>
                    <mat-option value="mecaniqueCyclo">Mécanique cyclo</mat-option>
                    <mat-option value="menageNettoyage">Ménage - Nettoyage</mat-option>
                    <mat-option value="plomberie">Plomberie</mat-option>
                </mat-select>
            </mat-form-field>
            <button>Rechercher</button>
            <br/><br/>
        </div>
    </form>
</body> -->
