<!DOCTYPE html>
<html lang="en">
<body>

	<div class="bg-contact2" style="background-image: url('images/bg-01.jpg');">
		<div class="container-contact2">
			<div class="wrap-contact2">
				<h2 style="text-align:center;">Inscription</h2>
        <br>
        <br>

  <form [formGroup]="userForm" class="contact2-form validate-form">

    <div class="form-group wrap-input2 validate-input">
      <!--<label for="email">Votre email:</label>-->
      <mat-form-field class="form-control input2">
      <input matInput type="email" placeholder="Entrez votre email ici" id="email" formControlName="email" required>
        <div id="error" class="errorPlaceHolder" *ngIf ="email.errors && email.touched">
            <p *ngIf = "email.errors.required">
              L'email est requis
            </p>
            <p *ngIf = "email.errors.pattern">
              Cet email n'est pas valide
            </p>
            <p *ngIf = "email.errors.email">
              Cet email n'est pas valide
            </p>
        </div>
        </mat-form-field>
    </div>

    <div class="form-group wrap-input2 validate-input">
      <!--<label for="pwd">Votre mot de passe:</label>-->
      <mat-form-field class="form-control input2" >
      <input matInput type="password" placeholder="Entrez votre mot de passe ici" id="pwd" formControlName="password" required>
        <div id="error" class="errorPlaceHolder" *ngIf ="password.errors && password.touched">
            <p *ngIf = "password.errors.required">
              Le mot de passe est requis
            </p>
            <p *ngIf = "password.errors.minlength">
              Le mot de passe doit comporter au minimum 6 caractères
            </p>
        </div>
      </mat-form-field>
    </div>

    <div style="text-align:center;" class="form-group form-check">
      <label  class="form-check-label">
        <input class="form-check-input" type="checkbox"> Se souvenir de moi
      </label>
    </div>
    <br>
    <div style="text-align:center;">
    <button mat-flat-button color="primary" type="submit" (click)="submit()"> M'inscrire </button><br/><br/>

    <button mat-flat-button color="warn" routerLink=""> Annuler </button>
    </div>
  <br/><br/>
  </form>

			</div>
		</div>
	</div>






</body>
</html>
