<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <title>Inscription</title>
</head>
<body>

  <h2>Inscription</h2>

   <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal"><img src="assets/img/subscribe.png"></h1><br/>

          Adresse mail :
          <label class="sr-only">Adresse mail :</label><br/>
          <input type="email" id="inputEmail" class="form-control" placeholder="Votre adresse mail" required autofocus><br/>
          Mot de passe :
          <label for="inputPassword" class="sr-only">Mot de passe :</label><br/>
          <input type="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required><br/>
        <div id="button" class="btn-group d-flex justify-content-center">
          <button class="btn btn-outline-primary" type="submit" >M'inscrire</button>
          <button class="btn btn-outline-primary" type='button' [routerLink]="['']">Annuler</button>
        </div>
      </form>

</body>


