<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <title>Inscription</title>
</head>
<body>

  <h2>Inscription</h2>

  <form [formGroup]="userForm">

    <div class="form-group">
      <label for="email">Votre email:</label>
      <input type="email" placeHolder="Entrez votre email ici" class="form-control" id="email" formControlName="email" required>
      <div id="error" class="errorPlaceHolder" *ngIf ="email.errors && email.touched">
            <p *ngIf = "email.errors.required">
              L'email est requis
            </p>
            <p *ngIf = "email.errors.pattern">
              Cet email n'est pas valide
            </p>
            <p *ngIf = "email.errors.email">
              Cet email n'est pas valide
            </p>
        </div>
    </div>

    <div class="form-group">
      <label for="pwd">Votre mot de passe:</label>
      <input type="password" placeHolder="Entrez votre email ici" class="form-control" id="pwd" formControlName="password" required>
      <div id="error" class="errorPlaceHolder" *ngIf ="password.errors && password.touched">
            <p *ngIf = "password.errors.required">
              Le mot de passe est requis
            </p>
            <p *ngIf = "password.errors.minlength">
              Le mot de passe doit comporter au minimum 6 caractères
            </p>
        </div>
    </div>

    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Se souvenir de moi
      </label>
    </div>

    <button type="submit"> M'inscrire </button><br/><br/>

    <button routerLink=""> Annuler </button>
  <br/><br/>
  </form>

</body>


