<div class=" input2">
    <div>
        <h3>Recherche d'un prestataire :</h3>
        <br>
        <mat-form-field class=" input2">
            <h6>Catégories</h6>
            <mat-select [(ngModel)]="cat" (selectionChange)="fillPrest()">
                <mat-option *ngFor="let categorie of categories" [value]="categorie">{{categorie.libelle}}</mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;
        <mat-form-field class=" input2">
            <h6>Lieux</h6>
            <mat-select [(ngModel)]="city" (selectionChange)="fillPrest()">
                <mat-option *ngFor="let coordonnee of coordonnees" [value]="coordonnee">{{coordonnee.ville}} {{coordonnee.cp}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div>
</div>
<div [hidden]="true" *ngFor="let prestataire of prestataires">{{prestataire.raisonsociale}} {{prestataire.telephone}} {{prestataire.mail}} {{prestataire.categorie}} {{prestataire.coordonnees}}
</div>
<section class="main items">
    <h4>{{ resRecherche }}<br><br></h4>
    <div *ngFor="let myMiniPrest of miniPrest">
        <article class="item">
            <table>
                <tr class="tr-prest" [ngClass]="{'wrapper' : true, 'active' : myMiniPrest.isDetailsHidden}">
                    <td class="first"><img src="../../../assets/images/pic01.jpg" alt="" /></td>
                    <td>
                        <header (click)="toggleStatus(myMiniPrest);">
                            <strong>Raison Sociale : {{myMiniPrest.raisonsociale}}</strong><br>Ville : {{myMiniPrest.coordonnees}}<br>Catégorie de service : {{myMiniPrest.categorie}}
                            <br><u>{{affDetails}}</u><br>
                        </header>
                        <div [hidden]="!myMiniPrest.isDetailsHidden">
                            <p>Téléphone : {{myMiniPrest.telephone}} </p>
                            <p>Mail : {{myMiniPrest.mail}} </p>
                            <p>Note moyenne : {{myMiniPrest.note}}</p>
                            <div [hidden]="true">{{ myMiniPrest.id }} </div>
                            <p><a class="button big" (click)="evaluatePrest(myMiniPrest.id);" [routerLink]="['notation', myMiniPrest.id]">Evaluer ce prestataire</a></p>
                        </div>
                    </td>
                </tr>
            </table>
        </article>
    </div>
</section>